kafka:
  user: 'kafka'
  group: 'kafka'
  install_dir: '/opt'
  version: 'kafka_2.10-0.10.1.0'
  source: 'http://mirrors.whoishostingthis.com/apache/kafka/0.10.1.0/kafka_2.10-0.10.1.0.tgz'
  source_hash: 'sha1=46a78910f31632c509f8d5400ed493f12479637b'
  external_zookeeper: false
  server:
    config:
      broker.id: 0
      num.network.threads: 3
      num.io.threads: 8
      socket.send.buffer.bytes: 102400
      socket.receive.buffer.bytes: 102400
      socket.request.max.bytes: 104857600
      log.dirs: '/tmp/kafka-logs'
      num.partitions: 1
      num.recovery.threads.per.data.dir: 1
      log.retention.hours: 168
      log.segment.bytes: 1073741824
      log.retention.check.interval.ms: 300000
      zookeeper.connect: 'localhost:2181'
      zookeeper.connection.timeout.ms: 6000
  zookeeper:
    config:
      dataDir: '/tmp/zookeeper'
      maxClientCnxns: 100
      clientPort: '2181'