{% import_yaml 'kafka/defaults.yaml' as defaults %}

{% set kafka = salt['pillar.get']('kafka', default=defaults.kafka, merge=True) %}

{% set home = kafka.install_dir ~ "/" ~ kafka.version %}

{% do kafka.update({'home': home }) %}

{## Mine values ##}
{% set hostnames = salt['mine.get']('roles:kafka', 'network.get_hostname', 'grain') %}
{% set ips = salt['mine.get']('roles:kafka', 'network.ip_addrs', 'grain') %}
{% set broker_ids = salt['mine.get']('roles:kafka', 'kafka_broker_id', 'grain') %}
{% set zk_myids = salt['mine.get']('roles:kafka', 'kafka_zk_myid', 'grain') %}
